html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a:focus, button:focus {
  outline: none;
}

h1 {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Muli', sans-serif;
  font-size: 14rem;
  font-weight: 900;
  letter-spacing: -0.05em;
}

a {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Muli', sans-serif;
  -webkit-transition: color .3s ease-in-out;
  transition: color .3s ease-in-out;
}

::-moz-selection {
  background: #ffd00b;
}

::selection {
  background: #ffd00b;
}

::-moz-selection {
  background: #ffd00b;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 15px 30px;
}

.nav-logo img {
  width: 70px;
}

.nav-li {
  display: inline;
  padding: 40px;
}

.nav-link {
  color: black;
  font-family: 'Muli', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

.nav-link:hover {
  color: grey;
}

.nav-link-active {
  color: white;
}

.nav-link-active:hover {
  color: white;
}

/*----------  Mobile Nav  ----------*/
.mobile-nav {
  height: 100vh;
  width: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(250, 205, 16, 0.87);
  text-align: center;
}

.mobile-nav ul {
  list-style-type: none;
  padding-top: 50px;
}

.mobile-nav li {
  padding: 10px 0;
}

.mobile-nav li a {
  font-size: 2rem;
}

.hamburger {
  right: 12px;
  top: 12px;
  position: absolute;
  border: 2px solid white;
  padding: 4px 7px;
  border-radius: 4px;
  z-index: 22;
}

.hidden, .hamburger {
  display: none;
}

.fa {
  color: white;
  cursor: pointer;
}

/*=====  End of Header / Nav  ======*/
main {
  background: url("../images/right.jpg");
  background-position: right top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  height: 100vh;
  width: 100vw;
}

.logo {
  margin: -90px auto auto 16%;
  position: absolute;
  top: 46%;
}

.logo:before {
  height: 45px;
  width: 45px;
  left: 50%;
  margin-left: -380px;
  content: "08";
  font-size: 6rem;
  letter-spacing: -0.01em;
  line-height: 45px;
  position: absolute;
  color: grey;
}

.dates {
  left: 50%;
  margin-left: -130px;
  position: absolute;
  bottom: 130px;
}

.dates-li {
  display: inline;
  padding: 10px 5px;
  text-align: right;
}

.dates:after {
  border-bottom: 1px solid black;
  content: " ";
  position: absolute;
  top: 7px;
  left: 180px;
  width: 150px;
}

.date {
  color: grey;
  font-size: 1.1rem;
  font-weight: 600;
}

.date-active, .date:hover {
  color: black;
  font-weight: 600;
}

footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  padding: 0 100px 40px;
  bottom: 0;
  width: 100%;
}

.email {
  float: left;
}

.email-link {
  color: black;
  font-weight: 600;
}

.email-link:hover {
  color: grey;
}

.social {
  float: right;
  color: white;
  font-size: 1rem;
  font-weight: 600;
}

.social-link {
  color: white;
  font-size: 0.9rem;
  font-weight: 600;
}

.social-link:hover {
  color: black;
}

/*----------  Break Point 1 - 880px  ----------*/
@media only screen and (max-width: 1000px) {
  body {
    background-color: #facd10;
  }
  header {
    padding: 12px;
  }
  nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  h1 {
    font-size: 10rem;
  }
  .logo {
    color: white;
  }
  .logo:before {
    color: white;
    margin-left: -275px;
    font-size: 4rem;
  }
  .dates {
    left: 30%;
  }
  .dates-li {
    display: block;
  }
  .date {
    color: white;
  }
  .dates:after {
    border-bottom: 1px solid black;
    content: " ";
    position: absolute;
    top: 16px;
    left: 80px;
    width: 40px;
  }
}

/*----------  Break Point 2 - 768px  ----------*/
@media only screen and (max-width: 768px) {
  nav, .social {
    display: none;
  }
  .logo {
    margin: -90px auto auto 60px;
  }
  .logo:before {
    margin-left: 0;
    left: -30px;
    top: -8px;
    font-size: 4rem;
  }
  h1 {
    font-size: 8rem;
  }
  .dates {
    top: 65%;
    left: 0;
    margin-left: 60px;
  }
  .dates-li {
    padding: 5px;
  }
  .dates:after {
    top: 12px;
    left: 70px;
  }
  footer {
    padding: 0 20px 20px;
  }
  .email-link {
    font-size: 0.9rem;
  }
  .email-prefix {
    display: none;
  }
}

/*----------  Break Point 2 - 500px  ----------*/
@media only screen and (max-width: 500px) {
  main {
    background-position: left top;
  }
  .logo {
    margin: -90px auto auto 40px;
  }
  .logo:before {
    font-size: 3rem;
    left: -20px;
    top: -10px;
  }
  h1 {
    font-size: 6rem;
  }
}

/*
/* LANDSCAPE
/*


/*----------  Break Point 2 - 600px  ----------*/
@media only screen and (max-height: 600px) {
  .logo:before {
    font-size: 3rem;
    left: 250px;
    top: -10px;
  }
  h1 {
    font-size: 6rem;
  }
  .dates {
    top: 50%;
  }
  .dates-li {
    padding: 5px;
  }
  .dates:after {
    top: 12px;
    left: 70px;
  }
}
/*# sourceMappingURL=style.css.map */