@import "normalise";
@import "colors";
@import "typography";

main {
    background: url('/images/right.jpg');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: 100vh;
    height: 100vh;
    width: 100vw;
}

.logo {
    margin: -90px auto auto 230px;
    position: absolute;
    top: 50%;
    
    &:before {
        height:  45px;
        width:   45px;
        left:     50%;
        margin: -92px;
        content: "08";
        font-size:  6rem;
        margin-left: -22px;
        line-height:  45px;
        position: absolute;
        color:     grey;
    }
}



@import "media-queries";